<div class="conteiner-sidebar">
    <div class="ul-sidebar">
        <ul>
            <li><a href="http://91.191.211.247/~moodles/moodies/course/view.php?id=1617" target="_blank">Base de datos 2</a></li>
            <li><a href="http://91.191.211.247/~moodles/moodies/course/view.php?id=1513" target="_blank">Derecho y legislación laboral</a></li>
            <li><a href="http://91.191.211.247/~moodles/moodies/course/view.php?id=1514" target="_blank">Gestión de proyectos</a></li>
            <li><a href="http://91.191.211.247/~moodles/moodies/course/view.php?id=1522" target="_blank">PP2</a></li>
            <li><a href="http://91.191.211.247/~moodles/moodies/course/view.php?id=1526" target="_blank">Programación 2</a></li>
            <li><a href="http://91.191.211.247/~moodles/moodies/course/view.php?id=1527" target="_blank">Redes y comunicación</a></li>
        </ul>
    </div>
</div>
