
<div class="fecha-container">
    <h2>Conversión de Fechas</h2>
  
    <div class="form-group">
      <label>Ingrese la fecha (DD-MM-YYYY):</label>
      <input 
        type="date" 
        placeholder="DD-MM-YYYY" 
        [(ngModel)]="fechaOriginal"
        (ngModelChange)="convertirFecha()"
      >
    </div>
  
    <div class="form-group">
      <button class="btn" (click)="cambiarFormato()">{{ textoBoton }}</button>
    </div>
  
    <div class="form-group">
      <p *ngIf="fechaConBarras">Fecha en formato de barras: {{ fechaConBarras }}</p>
      <p *ngIf="fechaConGuion">Fecha en formato de guiones: {{ fechaConGuion }}</p>
    </div>
  </div>

  