<!-- navbar.component.html -->
<nav class="navbar">
    <ul class="navbar-list">
      <li>
        <i class="uil uil-home" routerLink="/horarios" matTooltip="Inicio"></i>
      </li>
      <li class="navbar-item">
        <a routerLink="/horarios" class="navbar-link">Horarios</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/administrar-materias" class="navbar-link">Administrar Materias</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/convertidor-fechas" class="navbar-link">Convertidor de fechas</a>
      </li>
    </ul>
  </nav>
  