
html, body 
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    width: 100%; 
  }



  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


   
.container {
    display: flex;
}

.main-content {
    flex: 1; /* ocupa el espacio restante */
    padding: 20px;
    background-color: #343a40; /* fondo para mejor visibilidad */
    height: 60vh;
}

 app-sidebar {
    width: 22%;
    background: #343a40;
    height: 60vh; 
    display: flex;
    flex-direction: column;
}
   

